.gustave {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 40px;
  display: block;
  margin: auto;
}

.account {
  text-align: right;
  padding-right: 10px;
  font-family: "Josefin Sans";
  font-size: 14px;
  padding-top: 10px;
}

.sidebar {
    background-color: #F8F8FF;
    width: 107px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

}

.portfolio {
    background-color: #F8FAFF;
    position: absolute;
    top: 0;
    left: 107px;
    right: 0;
    bottom: 0;

    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.title {
  font-family: "Josefin Sans";
  font-size: 20px;
}

.avatar_dashboard {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.cardphoto {
  width: 300px;
}

.card-style {
  border: solid 1px;
  border-radius: 3px;
  border-color: #bdc3c7;
  width: 301px;
  height: auto;
  padding-bottom: 10px;
  margin-left: 100px;
}

.card-text {
  padding-top: 10px;
}

.blockone {
  display: inline;
}

.blocktwo {
  display: inline;
}

.description {
  padding: 10px;
}

.profile-btn {
  border: none;
  background-color: #F8FAFF;
}

