/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.logo {
  padding-top: 0;
  width: 100px;
}

h1.punchline {
  padding-top: 30px;
  font-size: 28px;
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 600;
}

.phrase {
  font-family: "Josefin Sans";
  font-size: 16px;
  height: 20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.messenger-btn {
  text-align: center;
}

.landing {
  height: 100%;
  width: 100%;
}

.left-card {
  text-align: center;
  background-color: #d64072;
  color: white;
  height: 100vh;
  min-height: 680px;
}


.right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 680px;
}

.phone {
  height: auto;
  width: 300px;
  padding-top: 30px;
}

$blue: #0084ff;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: all 200ms linear;
  font-size: 1vmax;
  &.inactive {
    background: #eee;
    -webkit-filter: saturate(0%) /*blur(1px)*/;
    filter: saturate(0%);
  }
}

.button {
  margin-top: 30px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  position: relative;
  background: $blue;
  color: white;
  font-size: 1.125em;
  border: .15em solid $blue;
  border-radius: .3em;
  text-transform: uppercase;
  padding: 1.25em 1.5em 1.25em 3.6em;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .025em;
  cursor: pointer;
  transition: inherit;
  transition: all 50ms linear;
  width: 300px;
  height: auto;


  .icon {
    position: absolute;
    top: 0;
    bottom: 0em;
    margin: auto 0;
    left: 1.4em;
    width: 1.5em;
    fill: white;
    height: 1.5em;
    display: block;
    transition: inherit;
  }

  &:hover, body.inactive & {
    color: $blue;
    background: transparent;
    .icon {
      fill: $blue;
    }
    &:active {
      transform: scale(1);
    }
  }
}

.button-facebook {
  background-color: #3B5998;
  border: none;

  i {
    position: absolute;
    left: 18px;
    font-size: 19px;
  }

  &:hover, body.inactive & {
    color: white;
    background: #29487d;

    &:active {
      transform: scale(1);
    }
  }
}

.contact {
  position: absolute;
  bottom: 30px;
  font-size: 12px;
  font-weight: 100;
  color: #cdcdcd;
    & a {
      color: #cdcdcd;
      text-decoration: underline;

      &:active, &:focus, &:hover {
        color: black;
      }
    }
}
