<%= render 'shared/flashes' %>

<div class="main-wrap">
    <input id="slide-sidebar" type="checkbox" role="button" />
        <label for="slide-sidebar"><span><i class="fa fa-times" aria-hidden="true"></i></span></label>
    <div class="sidebar">
      <div class="text-center">
        <h1>Profil</h1>
        <%= image_tag "http://placehold.it/150x150", class: "avatar_dashboard" %>
        <%= current_user.first_name %>
      </div>
    </div>
    <div class="portfolio">
      <!-- <div class="text-center">
        <h1>Ma petite cave à vin</h1>
          <div>
            <p>
              Mes vins préférés
             </p>
              <ul class="list-inline">
                <li>Vin: Château Margaux</li>
                <li>Repas associés : Poulet</li>
              </ul>
          </div>
      </div> -->

      <div id="cards" class="cards flip-container">
        <div class="front">
          <div class="pictures-container">
            <div class="picture-left"></div>
            <div class="picture-right"></div>
          </div>
          <div class="content-container">
            <h2>Appelation</h2>
            <span>Cêpage<i style="background-color: red;"><!-- Vignette de couleur --></i></span>
          </div>
          <button id="card-animations">Test</button>
        </div>
        <div class="back">

        </div>
      </div>
    </div>
</div>
